

	body {
	    width: 100%;
	    height: 100%;
	}
	
	html {
	    width: 100%;
	    height: 100%;
	}
	
	h2 {
		margin-bottom: 20px !important;
	}
	
	@media(min-width:767px) {
	    .navbar {
	        padding: 20px 0;
	        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	        transition: background .5s ease-in-out,padding .5s ease-in-out;
	    }
	
	    .top-nav-collapse {
	        padding: 0;
	    }
	
		.navbar-brand img {
		    max-width: 100%;
		    margin-top: -10px;
		    height: 50px;
		    position: relative;
		    z-index: 100;
		}
	}
	
	@media(max-width:767px) {
		
		.navbar-brand img {
		    max-width: 100%;
		    margin-top: -10px;
		    height: 45px;
		    position: relative;
		    z-index: 100;
		}
		
	}
/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

	.intro-section {
	    text-align: center;
	}
	
	.about-section {
	    padding-top: 75px;
	    padding-bottom: 50px;
	    background: rgb(238,238,238);
	}
	
	.calendar-section {
	    padding-top: 75px;
	    padding-bottom: 50px;
	    background: rgb(255,255,255);
	}
	
	.video-section {
	    padding-top: 75px;
	    padding-bottom: 50px;
	    background: rgb(238,238,238);
	}
	
	.community-section {
	    padding-top: 75px;
	    padding-bottom: 50px;
	    background: rgb(255,255,255);
	}	
	
	.testimonials-section {
	    padding-top: 75px;
	    padding-bottom: 50px;
	    background: rgb(238,238,238);
	}
	
	.team-section {
	    padding-top: 75px;
	    padding-bottom: 50px;
	    background: rgb(255,255,255);
	}

	.contact-section {
	    padding-top: 75px;
	    padding-bottom: 50px;
	    background: rgb(238,238,238);
	}

/* header and background image*/

	@media(min-width:2500px) {
		header.intro-header  {
			padding-top: 400px;
			padding-bottom: 200px;
		}
		
		.image-background {
		 	background-position: 50% 100%;
		 	background-size: cover;
		 	margin-top: 50px;
		 	padding-top: 50px;
	}
	}

	@media(min-width:640px) and (max-width: 2500px) {
		header.intro-header {
			padding-top: 275px;
			padding-bottom: 50px;
		}
			
		.image-background {
	 		background-position: 50% 10%;
	 		background-size: cover;
	 		margin-top: 50px;
	 		padding-top: 50px;
	}
	}

	@media(max-width:640px) {
		header.intro-header {
			padding-top: 75px;
			padding-bottom: 15px;
		}
		
		.image-background{
	 		background-position: 50% 0%;
	 		background-size: cover;
	 		margin-top: 50px;
	 		padding-top: 50px;
	}
	}
	
	h1.header-style {
    	font-family: "SalesforceSansRegular","Trebuchet MS",Arial,sans-serif;
		font-size: 40px;
		line-height: 1.1;
		text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.4);
    }
    
    .navbar-toggle {
	    background-color: transparent !important;
	    border: 1px solid transparent !important;
	    border-radius: 4px !important;
    }

/* blue font style */
	
	.blue-font {
		color: #009cdb;
	}

/* About us */
	
	.row.section-lander {
	    border-top: 1px solid #e4e4e4;
	    padding: 10px 0 !important;
	}
	
	.row.section-lander .zoom-image {
    	margin-top: 0px !important;
	}
	
	.about-image{
		height: 150px;
		margin-bottom: 5px;
	}

	.about-content{
		position: relative;
		display: block;
		width: auto;
		height: 375px;
	 	margin: 25px;
	 	text-align: center;
	}

	.about-button{
		position: absolute;
		bottom: 0px;
		left:0px;
		right: 0px;
	}

/* Calendar */
	
	#calendar {
		font-size: 14px;
    	margin-top: 50px;
    }
	
	#qtip{
		font-size: 12px;
		line-height: 1.375;
		margin-bottom: 5px;
	}
	
    .qtip-title {
		font-size: 14px;
		font-weight: bold;
		padding-top: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
	}
		
	table {
		margin: 0 !important;
	}

/* calendar categories */

	.cal_category{
		height:110px;
	}
	
/* floating categories */

	.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
    	margin-left: auto !important;
    	margin-right: 5px;
    	position: relative !important;
	}
		
	#sticky {
	    padding: 0.5ex;
	    background-color: #fff;
	    border-radius: 0.5ex;
	}
	
	#sticky.stick {
	    position: fixed;
		top: 100px;
		left: 0px;
	    z-index: 10000;
	    border-radius: 0.5em;
	    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.2);
	    width: auto;
	}

/* expandable panel */
	
	.panel-group .panel .panel-heading h3 a .fa.fa-chevron-down, .panel-group .panel .panel-heading h3 a .fa.fa-chevron-up {
	    position: absolute;
	    top: 50%;
	    right: 13px;
	}
	
	.panel-group {
		margin-top: 25px;
		margin-right: 25px;
		margin-bottom: 0px;	
		margin-left: 25px;
	}
	
	.panel-title {
		float: left;
	}

	a[aria-expanded=true] .fa-chevron-down {
		display: none;
	}
	
	a[aria-expanded=false] .fa-chevron-up {
	   display: none;
	}
	
/* success community */

	.topic-box {
	    padding: 20px;
	    border: solid 1px #c4c4c4;
	    border-radius: 6px;
	    margin: 0 0 20px 0;
	}
	
	.topic-box-special {
	    border: 0;
	    background-color: #f7f9fb;
	    margin: 0 0 20px 0;
	}
	
	.topic-box-container {
	}
	
	.item-content-secondary {
	    display: block;
	    float: left;
	    padding-top: 20px;
	}
	
	a.an-item .item-content-primary, .topic-box .item-content-primary {
	    margin-left: 74px;
	    padding: 5px 20px 0 10px;
	    font-size: 90%;
	}
	
	.item-content-primary .user-name {
	    font-weight: bold;
	}
	
	.item-content-secondary .user-pic img {
	    width: 64px;
	    height: 64px;
	    border-radius: 2px;
	    -moz-border-radius: 2px;
	    border-radius: 50%;
	}
	
	.item-extra {
	    font-size: 80%;
	}
	
	.item-title {
	    font-size: 90%;
	}
	
	.item-content-primary-1 {
	    margin-bottom: .6em;
	}
	
	.topic-box img {
		display: inline;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	
	.topic-box h3 {
		display: inline;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	
/* testimonials */
	
	.client-testimonial {
		margin-top: 20px;
		margin-bottom: 20px;
		}
	
	.testimonial-content {
		overflow: hidden;
	}
	
	.client-image img {
	    float: left;
	    border-radius: 150px;
	    height: 100px !important;
	    width: 100px !important;
	}
	
	.client-testimonial .client-cite {
	    float: left;
	    max-width: 100% !important;
	    font-size: 14px;
	    font-style: italic;
	}
	
	.client-cite .name{
	    font-weight: bold;
	}
	
/* team pictures */
	
	.view-team-member{
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.view-team-member .field--name-field-ot-image {
	    border-radius: 100px;
	    height: 100px;
	    overflow: hidden;
	    width: 100px;
	    margin-left: auto;
		margin-right: auto;
	}

	.view-team-member .field--name-field-ot-image img {
 		height: 100px;
	}
	
	.team-member{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		text-align: center;
		font-size: 14px;
	}
	
	.team-name {
		font-weight: 500;
	}

	.team-role {
		font-style: italic;
	}

/* topical sessions */

	article {
		margin-top: 10px;
		margin-bottom: 10px;
	}
		
	label {
    	font-weight: 100 !important;
		max-width: 100%;
	}
	
/* video player */
	
	.video_box {
	    background-color: #fff;
	    border-color: #eee;
	    border-radius: 8px;
	    border-style: solid;
	    border-width: thin;
	    height: 250px;
	    width: 250px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    margin-right: 15px;
	    margin-left: 15px;
	    padding: 15px !important;
	    transition: background 0.6s ease 0s;
	    overflow: hidden;
	}
	
	.video_box:hover {
		cursor: pointer;
		position: relative;
		top: -2px;
		box-shadow: 3px 3px 5px 0px rgba(0,0,0,.2);
		transition: .4s ease;
		color: #e98300;
	}
	
	.video_box:hover img{
		transition: .4s ease;
		opacity: .5;
	}
	
	.video_name{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: 75px;
		text-align: center;
		font-size: 14px;
		padding: 10px;
		z-index: 0;
	}
	
	.video_name:hover {
		transition: .4s ease;
		color: #e98300;
	}
	
	a.video_thumb {
		position: absolute;
		width: 90%;
		height: 100%;
		z-index: 10;
	}
	
	.video_box i{
		display: block;
		text-align: center;	
		margin: auto;
		font-size: 8em !important;
	}

/* contactus */
	
	.contact-boxes {
	    background-color: #fff;
	    border-color: #eee;
	    border-radius: 8px;
	    border-style: solid;
	    border-width: thin;
	    height: 200px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    margin-right: 15px;
	    padding: 15px !important;
	    transition: background 0.6s ease 0s;
	    width: 275px;
	}	
	
	.contact-boxes p{
		position: absolute;
		bottom: 0px;
		color: #fff;
	}

	.contact-boxes:hover {
		cursor: pointer;
		position: relative;
		top: -2px;
		box-shadow: 3px 3px 5px 0px rgba(0,0,0,.2);
		transition: .4s ease;
		color: #e98300;
	}
	
	.contact-boxes:hover p {
		transition: .4s ease;
		color: #e98300;
	}
	
	.contact-boxes i{
		display: block;
		text-align: center;	
		margin-top: 15px;
	}
	
	a.contact-a {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 10;
		opacity: 0;
	}
	

/* Pardot forms */
	
	#pardot-form {
		color: #666666;
		font-family: "SalesforceSansRegular", "Trebuchet MS", Arial, sans-serif;
		line-height: 1.375;
		font-size: 14px;
	}
	
	#pardot-form span.error {
		clear: left;
		display: block;
		font-weight: bold;
		margin-top: 2px;
		padding-left: 166px;
		font-size: 14px;
		font-family: "SalesforceSansRegular", "Trebuchet MS", Arial, sans-serif;
	}
	
	#pardot-form p.required label, #pardot-form span.required label {
		background: url("/images/required.gif") no-repeat scroll right top transparent;
	}
	
	#pardot-form label{
		font-size: 14px;
		font-family: "SalesforceSansRegular", "Trebuchet MS", Arial, sans-serif;
	}
	
	#pardot-form .description{
		font-size: 14px;
		font-family: "SalesforceSansLight", "Trebuchet MS", Arial, sans-serif;
	}
	
	#pardot-form .field-label {
		display: block;
		float: left;
		margin: 0;
		padding: 3px 13px 3px 0;
		text-align: right;
		width: 175px;
		color: #009edc;
		font-size: 14px;
		font-family: "SalesforceSansRegular", "Trebuchet MS", Arial, sans-serif;
	}
	
	#pardot-form select {
		font-weight: normal;
		font-size: 14px;
		font-family: "SalesforceSansRegular", "Trebuchet MS", Arial, sans-serif;
	}
	
	#pardot-form textarea{
		font-size: 14px;
		font-family: "SalesforceSansLight", "Trebuchet MS", Arial, sans-serif;
	}
	
	#pardot-form input {
		font-weight: normal;
		font-size: 14px;
		font-family: "SalesforceSansLight", "Trebuchet MS", Arial, sans-serif;
	}

	#pardot-form input[type="radio"] {
		font-weight: normal;
		width: 50px;
		font-size: 14px;
		font-family: "SalesforceSansLight", "Trebuchet MS", Arial, sans-serif;
	}
	
	#pardot-form input[type="checkbox"] {
		margin-right: 30px;
		height: 50px;
		font-size: 14px;
		font-family: "SalesforceSansLight", "Trebuchet MS", Arial, sans-serif;
	}
	
	#pardot-form p.submit input {
		margin: auto;
		padding: 18px 20px;
		font-size: 14px;
		font-family: "SalesforceSansRegular", "Trebuchet MS", Arial, sans-serif;
	}
	
/* Pardot forms responsives*/

	* {
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	}
	
	#pardot-form .form-field {
		margin: 1em 0;
		padding: 0;
	}
	
	#pardot-form .field-label {
	    width: 25%;
	}
	
	#pardot-form input.text, #pardot-form textarea {
	    width: 75%;
	}
	
	#pardot-form .no-label,
	#pardot-form .description,
	#pardot-form .value,
	#pardot-form .submit {
	    margin-left: 25%;
	}

@media (max-width: 400px) {
   #pardot-form .field-label {
        display: inline-block;
        width: auto;
        float: none;
        text-align: left;
    }

    #pardot-form input.text, #pardot-form textarea {
        display: block;
        width: 100%;
    }

    #pardot-form .no-label,
    #pardot-form .description,
    #pardot-form .value,
    #pardot-form .submit {
        margin-left: 0;
    }
}	
